# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
build/
dist/
.env

# Node.js
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
.stylelintcache

# Vite
.vite/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# System
.DS_Store
Thumbs.db
desktop.ini
